.mainContainer{
    /* height: 100vh; */
    margin-top: 95px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.AdminWindowContainer{
    margin-top: 60px;
    width: 80%;
    height: 740px;
    background-color: #F1EBF5;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.welcome {
    width: 100%;
    height: 660px;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.content{
    width: 75%;
    height: 660px;
}

.listPageAll {
    overflow-y: auto;
    height: 88%;
    width: 99%;
}

.searchContainer {
    position: relative;
    margin-bottom: 10px;
}

.btnCons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.searchIcon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 30px;
    opacity: 1;
    z-index: 0;
}

.searchInput {
    border: 2px solid #ccc;
    border-radius: 2rem;
    font-size: 16px;
    outline: none;
    width: 300px;
    height: 36px;
    padding-left: 55px;
    padding-right: 15px
}

.searchInput:focus {
    border-color: #21d2d2;
}

.listPageAll{
    scrollbar-color: #d0baff transparent;
}