.mainContainer{
    /* height: 100vh; */
    margin-top: 95px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.AdminWindowContainer{
    margin-top: 60px;
    width: 80%;
    height: 740px;
    background-color: #F1EBF5;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.welcome{
    width: 100%;
    height: 660px;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 75%;
    height: 660px;
}