.GalleryItems{
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.GalleryItems{
    margin-bottom: 100px;
}

.TopBlocks{
    height: 58px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.discount{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    color: #EB0101;
}

.recomendation{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
}

.buttonsGalleryOverlay{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.btnGalleryLeftGround,
.btnGalleryRightGround{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #B57EDC;
    border-radius: 1rem ;
    cursor: pointer;
}

.btnIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: #d90000;
    font-size: 48px;
}

.btnsGallery {
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    background-color: #B57EDC;
}


.GalleryItem{
    display: flex;
    gap: 54px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0;
    height: 396px;
    width: 80%;
}

.GalleryItems::-webkit-scrollbar {
    height: 8px;
}

.GalleryItems::-webkit-scrollbar-thumb {
    background-color: #c0bfc4;
    border-radius: 5px;
}

