.mainHeader {
    background-color: #774A8D;
    height: 97px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
}

.headerItems {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Logo{
    background-color: white;
    width: 193px;
    height: 60px;
}

.rightBtnCon {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
}

.btnSignUp,
.btnCart {
    width: 120px;
    font-weight: 300;
    font-size: 16px;
    color: #382b22;
    height: 50px;
    background: rgb(255, 255, 255);
    border: 1px #b18597;
    border-radius: 2rem;
    transition: transform 0.2s;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnSignUp:hover,
.btnCart:hover {
    background: #B57EDC;
    transform: translate(0, 0.15em);
}

.icon {
    width: 25px;
    height: 27.5px;
    margin-right: 2px;
}

.searchContainer {
    position: relative;
}

.searchIcon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 30px;
    opacity: 1;
}

.searchInput {
    border: 1px solid #ccc;
    border-radius: 2rem;
    font-size: 16px;
    outline: none;
    width: 300px;
    height: 46px;
    padding-left: 55px;
}

.searchInput:focus {
    border-color: #888;
}