.mainPageCon2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    height: 1320px;
    padding-top: 65px;
}
.firstGallery{
    height: 480px;
}
.secondGallery{
    height: 480px;
}

@media (max-width: 480px) {
    .mainPageCon2 {
        height: auto;
        padding-top: 20px;
        gap: 0;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .firstGallery,
    .secondGallery{
        height: 380px;
    }
}