.mainPageCon2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 1320px;
    padding-top: 105px;
}
.firstGallery{
    height: 480px;
}
.secondGallery{
    height: 480px;
}