body{
    background-color: white;
}

.mainPageCon1{
    margin-top: 194px;
    height: 714px;
}

.wrapperGalleryBlock {
    margin-top: 97px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 70px;
    grid-row-gap: 1em;
}

.box{
    background-color: rgba(189, 213, 215, 0.543);
    border-radius: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.box1 {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
    position: relative;
    display: flex;
    justify-content: center;
}
.box2 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}
.box3 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 5;
}
.box4 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 7;
}

.btnGalleryLeftGround,
.btnGalleryRightGround{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 55px;
    height: 55px;
    background-color: rgb(248, 248, 248);
    transition: transform 0.2s;
}

.buttonsConOverlay{
    position: absolute;
    display: flex;
    width: 98%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.btnGalleryLeftGround:hover,
.btnGalleryRightGround:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transform: translate(0, 0.15em);
}

.btnsGallery{
    border: none;
    background-color: transparent;
}

.rounded{
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    bottom: 30px;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 2rem;
    background-color: rgb(177, 162, 162);
}
