.MainWindow{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0.5rem;
}

.BackToLobby{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 32px;
    font-weight: 500;
}

.navBtns{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    background-color: transparent;
    border: none;
}

.navBtns:hover{
    background-color: rgb(198, 183, 183);
}

.TopPanelBlock{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.FirstSection,
.SecondSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.searchContainer {
    position: relative;
}

.btnCons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.searchIcon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 30px;
    opacity: 1;
}

.searchInput {
    border: 1px solid #ccc;
    border-radius: 2rem;
    font-size: 16px;
    outline: none;
    width: 300px;
    height: 46px;
    padding-left: 55px;
}

.searchInput:focus {
    border-color: #888;
}

.listPageAll{
    overflow-y: auto;
    height: 78%;
}