body{
    background-color: rgb(239, 233, 233);
}

.wrapperGalleryBlock {
    margin-top: 97px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 70px;
    grid-row-gap: 1em;
}

.box{
    background-color: rgba(139, 201, 206, 0.543);
}

.box1 {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
}
.box2 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}
.box3 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 5;
}
.box4 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 7;
}